 .u-section-1 {
  background-image: url("images/22436c6c277f11c3f7d4e88e43c689bf6816ec8996da8b50026f678ea249ffb05d2c7a2fd8614c023a67ca869e3d190d3d4a3304f75c5855d0ea78_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 640px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  margin: 248px 147px 60px auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 376px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 370px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 233px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 93px;
  }
} .u-section-2 {
  background-image: url("images/25b72297efe1e40d8a81ecb161b77bbddd09f4c6319c7981243b2d8bfa38bf2530c59f6f60e68e26f26a95fd8f2225d5145259ed78212202198d85_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-2 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 280px 379px 60px 418px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
    margin-right: 279px;
    margin-left: 318px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 169px;
    margin-left: 208px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 3rem;
    margin-right: 79px;
    margin-left: 118px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 0;
    margin-left: 0;
  }
} .u-section-3 {
  background-image: url("images/358415671-01.jpeg");
  background-position: 50% 0%;
}

.u-section-3 .u-sheet-1 {
  min-height: 825px;
}

.u-section-3 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 119px 225px 60px 356px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 680px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
    margin-right: 125px;
    margin-left: 256px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 521px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 15px;
    margin-left: 146px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 391px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 246px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }
}